* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  display: flex;
  justify-content: space-around;
}
.links {
  border: 1px solid #fff;  /* For debugging */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.paragraph {
	padding: 100px;
	display: flex;
	justify-content: right;
}

.imageSize > img {
  padding: 20px;
	width: 400px;
	height: 300px;
}

.review-header {
  color: #F09A9D;
  font-size: large;
  padding: 20px;
  justify-content: center;
}

.review-paragraph {
  color: black;
  padding: 30px;
  justify-content: center;
}

.about-header {
  color: brown;
  padding: 10px ;
  font-size: x-large;
  justify-content: center;
}
.about-paragraph {
  color: black;
  padding: 20px;
  justify-content: center;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}
